.intro__container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 148px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1124px) {
    /* для небольших ноутбуков */
    .intro__container {
        padding-left: 48px;
    }
}

@media screen and (max-width: 984px) {
    /* от вертикального до горизонтального положения планшета */
    .intro__container {
        padding: 0 24px;
    }
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .intro__container {
        padding: 0 16px;
    }
}