.lead__title {
    max-width: 720px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}
@media screen and (max-width: 670px) {
    .lead__title {
        font-size: 60px;
        max-width: 100%;
}
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .lead__title {
        max-width: 288px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 110%;
    }
}