.footer__links {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .footer__links {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}