.place__link {
    margin: 0;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    transition: 0.2s;
}

.place__link:hover {
    opacity: 0.8;
}