.cover__title {
    margin: 0 auto;
    padding: 0;
    color: #FFF;
    text-decoration: none;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    align-self: end;
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
    }
}